#box1
{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: 50px;/*space fromt he top*/
    left: 50px;
    right: 50px;
}
#box2
{
    width: 200px;
    height: 200px;
    background-color: red;
    position: sticky;
    top: 0px;/*space fromt he top*/
    left: 100px;
}